<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Listing</title>
    <link href="https://fonts.googleapis.com/css?family=Inter" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="container">
        <h1>SELECT YOUR CHOICE</h1>
        <div class="tab-container">
            <button class="tab-button active" data-category="men"><span class="icon">👨🏻</span> Men</button>
            <button class="tab-button" data-category="women"><span class="icon">👩🏻</span> Women</button>
            <button class="tab-button" data-category="kids"> <span class="icon">👦🏻</span> Kids</button>
        </div>
        <div class="product-container" id="productContainer">

        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>